################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cjwasm/x64
/test/Debug
/test/x64
/x64
